body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/595860.png'); 
    background-size: cover;
    background-position: center;
  }

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}
 nav img{
    width: 150px;
 }
 .nav-links{
    flex: 1;
    text-align: center;
 }
 .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
 }
 .nav-links ul li a{
    color: #ff8800;
    text-decoration: none;
    font-size: 13px;

 }
 .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;

 }
 .nav-links ul li:hover::after{
    width: 100%;
 }
.text-box{
    width: 90%;
    color: #ff0000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .profile {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    animation: popUpAnimation 2s ease-out; 
  }
  
  @keyframes popUpAnimation {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  h1 {
    font-size: 36px;
    color: rgb(255, 255, 255);
  }
  
  .about {
    text-align: center;
    padding: 20px;
  }
  
  p {
    font-size: 20px;
    color: #fff;
    opacity: 0;
    white-space: nowrap;
  }
  
  .typing-text {
    animation: typingAnimation 2s steps(40, end) forwards;
  }
  
  @keyframes typingAnimation {
    from {
      width: 0;
      opacity: 0;
    }
    to {
      width: 100%;
      opacity: 1;
    }
  }
  
  footer {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    text-align: center;
  }
  
  .social-media {
    display: inline-block;
  }
  
  .social-link {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 50px;
    transition: all 0.3s ease;
  }
  
  .social-link:hover {
    background-color: #fff;
    color: #1a1a1a;
    border-color: #fff;
  }
  